$bg-app: #EBEEF3;
$bg-article: #ffffff;
$container-brdr: #D9D9D9;
$form-text: #8C8C8C;
$title: #1890FF;
$shadow-article: rgba(0,0,0,0.3);
$profile-name: rgba(0, 0, 0, 0.85);
$text-like: rgba(0, 0, 0, 0.75);
$tag: rgba(0, 0, 0, 0.5);
$label-text: #262626;
$btn-del: #F5222D;
$btn-edit: #52C41A;