@import '../../variables/variables';

.article {
  display: grid;
  grid-template-columns: 65% auto;
  justify-items: start;
  width: 941px;
  background: $bg-article;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px $shadow-article;
  padding: 15px 14px 24px 19px;
  margin-top: 26px;
}

.article-full {
  display: grid;
  grid-template-columns: 65% auto;
  justify-items: start;
  width: 941px;
  min-height: 870px;
  background: $bg-article;
  box-shadow: 2px 2px 5px 1px $shadow-article;
  padding: 15px 14px 24px 19px;
  margin-top: 26px;
}

.article-title {
  text-decoration: none;
  font-family: 'Inter UI', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: $title;
}

.title-text {
  display: block;
  overflow-wrap: anywhere;
  max-width: 700px;
}

.article-likes {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  align-items: center;
  vertical-align: middle;
  padding-left: 13px;

}

.article-likes-num {
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: $text-like;
  padding-left: 5px;
}

.article-tag {
  display: inline-block;
  border: 1px solid $tag;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $tag;
  width: max-content;
  padding: 0 2px 0 2px;
  margin-right: 8px;
  margin-top: 3px;
}

.article-author-container {
  justify-self: end;
  align-items: start;
}

.article-author {
  display: grid;
  grid-template-columns: auto 60px;
  justify-self: end;
}

.article-head {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  align-items: center;
  max-width: max-content;
}

.article-body {
  max-width: 700px;
  overflow-wrap: anywhere;
}

.buttons-container {
  display: grid;
  padding-top: 30px;
  grid-template-columns: auto auto;
  align-items: center;
}

.button {
  text-decoration: none;
  text-align: center;
  width: 78px;
  height: 31px;
  border: 1px solid $btn-del;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $btn-del;
  background-color: $bg-article;
  margin-left: 17px;
  cursor: pointer;
}

.button--edit {
  border-color: $btn-edit;
  color: $btn-edit;
}

.button-text {
  vertical-align: middle;
  align-self: center;
}

.button--no-style {
  border: none;
  background: none;
  cursor: pointer;
}

.name {
  display: grid;
  justify-self: end;
  text-align: right;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $profile-name;
  padding-right: 12px;
}

.date {
  display: grid;
  justify-self: end;
  text-align: right;
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: $tag;
  padding-right: 12px;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.text {
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: $text-like;
  overflow-wrap: anywhere;
  max-width: 700px;
}

.tags-list {
  overflow-wrap: anywhere;
  max-width: 700px;
}