@import '../../variables/variables';

.header {
  display: grid;
  grid-template-columns: auto auto;
  height: 80px;
  align-items: center;
  padding: 0 22px 0 22px;
}

.header-buttons {
  justify-self: end;
  align-self: center;
}

.title {
  text-decoration: none;
  justify-self: start;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $profile-name;
}
.buttons {
  display: grid;
  grid-template-columns: auto auto;
}

.button-in {
  text-decoration: none;
  align-self: center;
  justify-self: end;
  width: 84px;
  height: 35px;
  border: none;
  background: none;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $profile-name;
}

.button-in:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button-up {
  display: grid;
  text-decoration: none;
  text-align: center;
  justify-self: end;
  width: 109px;
  height: 51px;
  border: 1px solid $btn-edit;
  border-radius: 5px;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $btn-edit;
  background: $bg-article;
}

.button-up:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button-out {
  width: 109px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $text-like;
  background: $bg-article;
}

.button-out:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button-crt {
  display: grid;
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: 112px;
  height: 31px;
  border: 1px solid $btn-edit;
  border-radius: 5px;
  font-family: 'Inter UI', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: $btn-edit;
  background: $bg-article;
  margin-right: 26px;
}

.button-crt:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button-text {
  vertical-align: middle;
  align-self: center;
}

.button-text:hover {
  cursor: pointer;
}

.profile {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.name {
  text-decoration: none;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: $profile-name;
  padding-right: 12px;
  align-self: center;
}

.name:hover {
  cursor: pointer;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 26px;
}

.avatar:hover {
  cursor: pointer;
}