.button {
  width: 118px;
  height: 40px;
  border: 1px solid #F5222D;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F5222D;
  background-color: #ffffff;
  margin-left: 17px;
}

.button--blue {
  width: 136px;
  border-color: #1890FF;
  color: #1890FF;
}

.container {
  margin: 59px auto 0 auto;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  width: 384px;
  background: #ffffff;
  padding: 48px 32px 48px 32px;
}

.container--l {
  height: 498px;
}

.container--xl {
  height: 599px;
}

.container--xxl {
  width: 938px;
}

.form {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-self: stretch;
  height: 100%;
}

.form-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
}

.form-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #8C8C8C;
}

.label {
  display: block;
  margin-top: 20px;
}

.label-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.input {
  width: 320px;
  height: 40px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding-left: 12px;
}

.input-xxl {
  width: 874px;
}

.textarea {
  resize: none;
  height: 168px;
  width: 874px;
}

.tags {
  width: 874px;
}

.tag {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
}

.submit {
  padding: 8px 16px;
  width: 319px;
  height: 40px;
  background: #1890FF;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.submit:disabled {
  opacity: 0.5;
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.error-message {
  margin: 3px 0 3px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #F5222D;
}

.message {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1890FF;
}